<!-- Page Header -->
<header class="page-header page-header-mini">
    <h1 class="title">Start Writing Awesome Blogs</h1>
</header>
<!-- End Of Page Header -->

<section class="container">
    <div class="page-container">
        <div class="page-content">
            <div class="card">                
                <div class="card-footer">
                     <h6 class="mt-5 mb-3 text-center"><a href="#" class="text-dark"></a></h6>
                    <hr>

                    <h6 class="mt-5 mb-3 text-center"><a href="#" class="text-dark"></a>Write Your Own Blog...</h6>
                    <hr>
                    <form action = "/blogs" method="POST">
                        <div class="form-row">
                            <div class="col-12 form-group">
                                <input name="title" id=""  class="form-control" placeholder="Enter the title"></input>
                            </div>
                            <div class="col-12 form-group">
                                <textarea name="data" id="" cols="30" rows="10" class="form-control" placeholder="Start Writing..."></textarea>
                            </div>
                            <div class="form-group col-12">
                                <button class="btn btn-primary btn-block">Post</button>
                            </div>
                        </div>
                    </form>
                </div>                  
            </div> 

            <h6 class="mt-5 text-center">Featured Posts</h6>
            <hr>
            <div class="row">   
                <% fb.forEach(blog=>{ %>                    
                <div class="col-md-6 col-lg-4 d-none d-lg-block">
                    <div class="card mb-5">
                        <div class="card-header p-0">                                   
                            <div class="blog-media">
                                <img src=<%= `/assets/imgs/${blog.image}`%> alt="" class="w-100">
                                <a href="#" class="badge badge-primary">#<%= blog.tag%></a>       
                            </div>  
                        </div>
                        <div class="card-body px-0">
                            <h6 class="card-title mb-2"><%= blog.title%></h6>   
                            <small class="small text-muted">January 17 2019 
                                <span class="px-2">-</span>
                                <a href="#" class="text-muted"> <%= blog.comment.length %> Comments</a>
                            </small>
                        </div>  
                    </div>
                </div>
                <% })%>
            </div>
        </div>
        <!-- Sidebar -->
        <div class="page-sidebar">
            <h6 class="sidebar-title mt-5 mb-4">Tags</h6>
            <a href="javascript:void(0)" class="badge badge-primary m-1">#open-AI</a>
            <a href="javascript:void(0)" class="badge badge-primary m-1">#back-end</a>
            <a href="javascript:void(0)" class="badge badge-primary m-1">#front-end</a>
            <a href="javascript:void(0)" class="badge badge-primary m-1">#AI/ML</a>
            <a href="javascript:void(0)" class="badge badge-primary m-1">#tech</a>
            <a href="javascript:void(0)" class="badge badge-primary m-1">#developer</a>
            <a href="javascript:void(0)" class="badge badge-primary m-1">#computer science</a>
            <a href="javascript:void(0)" class="badge badge-primary m-1">#3D</a>
            <a href="javascript:void(0)" class="badge badge-primary m-1">#maths</a>
            <a href="javascript:void(0)" class="badge badge-primary m-1">#self-growth</a>

            <div class="ad-card d-flex text-center align-items-center justify-content-center mt-4">
                <span href="#" class="font-weight-bold">ADS</span>
            </div>
            <br>
        </div>
    </div>
    <div class="ad-card d-flex text-center align-items-center justify-content-center mt-4">
        <span href="#" class="font-weight-bold">ADS</span>
    </div>
</section>
