<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>BlogHeads</title>
    <!-- title logo -->
    <link rel="icon" href="assets/imgs/logo.png" type="image/icon type">
    <!-- font icons -->
    <link rel="stylesheet" href="assets/vendors/themify-icons/css/themify-icons.css">
    <!-- Bootstrap + JoeBLog main styles -->
	<link rel="stylesheet" href="assets/css/joeblog.css">
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="40" id="home">

    <!-- Page Navigation -->
    <nav class="navbar custom-navbar navbar-expand-md navbar-light bg-primary fixed-top">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="assets/imgs/logo.png" alt="logo">
            </a>
            <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">                     
                    <li class="nav-item">
                        <a class="nav-link" href="/">Home</a>
                    </li>
                    <% if (isAuthenticated){ %>
                        <li class="nav-item">
                            <a class="nav-link" href="auth/logout">logout</a>
                        </li>
                    <% } else{ %>    
                    <li class="nav-item">
                        <a class="nav-link" href="auth/google">login</a>
                    </li>
                    <% } %>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Of Page Navigation -->

    <%- body %>

    <!-- Page Footer -->
    <footer class="page-footer">
        <div class="container">
            <p class="border-top mb-0 mt-4 pt-3 small">&copy; <script>document.write(new Date().getFullYear())</script>, Created By <a href="https://www.prajjawaltiwari.com" class="text-muted font-weight-bold" target="_blank">Prajjawal Tiwari</a>  All rights reserved </p> 
        </div>      
    </footer>
    <!-- End of Page Footer -->
	<!-- core  -->
    <script src="assets/vendors/jquery/jquery-3.4.1.js"></script>
    <script src="assets/vendors/bootstrap/bootstrap.bundle.js"></script>

    <!-- JoeBLog js -->
    <script src="assets/js/joeblog.js"></script>

</body>
</html>
